:root {
    --color-primary: #1B202D;
    --color-additional: #292F3F;
    --color-chat-left: #373E4E;
    --color-chat-right: #7A8194;
    --color-grey: #B3B9C9;
    --color-light: #FFFFFF;
    --color-message-input: #3D4354;
}