.messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.messages__date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--color-light);
    align-self: center;
}