.phone-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 428px;
    min-height: 926px;
    background: var(--color-primary);
    box-shadow: 40px 40px 100px rgba(6, 15, 20, 0.25);
    border-radius: 50px;
    overflow: hidden;
}